@import '../style/colors.scss';
@import '../style/size.scss';

.header_block {
  display: flex;
  grid-gap: 50% 50%;
  justify-content: space-between;
  list-style: none;
  background: $bg;
  padding: 16px 28px;
  border-radius: $borderR;
  li {
    align-self: center;
    font-size: 24px;
    color: #fff;
  }
  .pagination {
    display: flex;
    grid-gap: 1rem;
    button {
      border: none;
      height: 36px;
      border-radius: $borderR;
    }
  }
  .header_route_button {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
  }
  .header_back_button {
    color: #fff;
    font-size: 31.5px;
    span {
      padding: 8px 0;
    }
  }
}
a {
  text-decoration: none;
  color: #fff;
}
