.loading {
  text-align: center;
  display: block;
}
.house {
  h3 {
  }
  .house_info {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0 3rem;
    span {
      align-self: center;
      ul {
        padding: 0;
        list-style: none;
      }
    }
  }
}
