.card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 20px;
  margin-bottom: 16px;
  div {
    div {
      width: 100%;
      span {
        overflow-x: auto;
        // overflow-x: hidden;
        ul {
          padding: 0;
          list-style: none;
        }
      }
    }
  }
  .loading {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 638px) {
  .card_list {
    display: initial;
    flex-wrap: wrap;
    grid-gap: 0;
  }
}
